# DATABASE CONFIG
# SQLite (Padrão)
# DATABASE_URL=sqlite:///caixa_bar.db

# MySQL / MariaDB
# Formato: mysql+pymysql://usuario:senha@host:porta/nome_banco
DATABASE_URL=mysql+pymysql://user_toca:TocaDoLobo2024!@localhost:3306/tocadolobo

# SYSTEM SETTINGS
SECRET_KEY=sua_chave_secreta_aqui
DEBUG=True
PORT=8000
